<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.xueyiche.zjyk.xueyiche">

    <permission
        android:name="com.xueyiche.zjyk.xueyiche.permission.JPUSH_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_INTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_INTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" /> <!-- 获取手机录音机使用权限，听写、识别、语义理解需要用到此权限 -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" /> <!-- 读取网络信息状态 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /> <!-- 获取当前wifi状态 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" /> <!-- 允许程序改变网络连接状态 -->
    <!-- 读取手机信息权限 -->
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="andorid.permission.MONUN_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" /> <!-- 保存或读出图片还应该添加读写权限 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CALL_PHONE" /> <!-- Required  一些系统要求的权限，如访问网络等 -->
    <uses-permission android:name="com.xueyiche.zjyk.xueyiche.permission.JPUSH_MESSAGE" />
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />
    <uses-permission android:name="android.permission.WAKE_LOCK" /> <!-- Optional for location -->
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" /> <!-- 定位 -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" /> <!-- 定位 -->
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" /> <!-- Android Q后台定位权限 -->
    <uses-permission
        android:name="android.permission.MOUNT_FORMAT_FILFOREGROUND_SERVICEESYSTEMS"
        tools:ignore="ProtectedPermissions" /> <!-- 这个权限用于获取wifi的获取权限，wifi信息会用来进行网络定位 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" /> <!-- 写入扩展存储，向扩展卡写入数据，用于写入缓存定位数据 -->
    <uses-permission android:name="android.permission.READ_CONTACTS" /> <!-- 定位 -->
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" /> <!-- 用于访问wifi网络信息，wifi信息会用于进行网络定位 -->
    <uses-permission
        android:name="android.permission.MOUNT_FORMAT_FILESYSTEMS"
        tools:ignore="ProtectedPermissions" /> <!-- 这个权限用于获取wifi的获取权限，wifi信息会用来进行网络定位 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" /> <!-- 写入扩展存储，向扩展卡写入数据，用于写入缓存定位数据 -->
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission
        android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission
        android:name="android.permission.WRITE_SETTINGS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" /> <!-- 用于开启 debug 版本的应用在6.0 系统上 层叠窗口权限 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.GET_TASKS" /> <!-- 一般权限 -->
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true" /> <!-- 百度地图poi -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.BROADCAST_STICKY" /> <!-- 蓝牙分享所需的权限 -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" /> <!-- 银联支付 -->
    <uses-permission android:name="android.permission.NFC" /> <!-- 生成唯一标示 -->
    <uses-feature android:name="android.hardware.nfc.hce" />

    <uses-permission android:name="org.simalliance.openmobileapi.SMARTCARD" />

    <application
        android:name=".constants.App"
        android:allowBackup="false"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/logo_user"
        android:label="@string/app_name"
        android:maxAspectRatio="2.4"
        android:persistent="true"
        android:resizeableActivity="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:ignore="LockedOrientationActivity"
        tools:replace="android:allowBackup">
        <activity
            android:name=".mine.activities.MineSendActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".community.activity.ShiPinFaBuActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".community.activity.TuWenFabuActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".community.activity.ShiPinPlayActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".community.activity.TuWenXiangQingActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".mine.activities.bianji.SetActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mine.activities.DriverPathActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.amap.api.navi.AmapRouteActivity"
            android:configChanges="orientation|keyboardHidden|screenSize|navigation"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".mine.activities.bianji.EditMySelfInfoActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".practicecar.ContentTrainNewActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".homepage.activities.DaifBaoYangListActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".homepage.activities.DaiJianCheListActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".mine.activities.MyOrderListActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".homepage.activities.ContentActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".mine.activities.OrderDetailActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".daijia.activity.ChooseDaijiaYuanActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".daijia.activity.DaShangActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".practicecar.PracticeCarSecondStepActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".practicecar.PracticeCarFirstStepActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".daijia.activity.CancelOrderActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".daijia.activity.ArrivedActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity android:name=".daijia.RegistSiJiActivity"
            android:screenOrientation="portrait"/>

        <meta-data
            android:name="android.max_aspect"
            android:value="2.4" /> <!-- 适配华为（huawei）刘海屏 -->
        <meta-data
            android:name="android.notch_support"
            android:value="true" /> <!-- 适配小米（xiaomi）刘海屏 -->
        <meta-data
            android:name="notch.config"
            android:value="portrait|landscape" /> <!-- 全新需要的Activity -->
        <activity
            android:name=".splash.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/WelcomeTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.VIEW" /> -->
            <!-- <category android:name="android.intent.category.DEFAULT" /> -->
            <!-- <data android:scheme="wx2c016c0ed633dbd2" /> -->
            <!-- </intent-filter> -->


            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.VIEW" /> -->
            <!-- <category android:name="android.intent.category.DEFAULT" /> -->
            <!-- <data android:scheme="wx2c016c0ed633dbd2" /> -->
            <!-- </intent-filter> -->

        </activity>

        <receiver android:name=".receive.NetBroadcastReceiver">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>

        <activity
            android:name="com.alipay.sdk.app.H5PayActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:exported="false"
            android:screenOrientation="behind"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name="com.alipay.sdk.app.H5AuthActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind"
            android:windowSoftInputMode="adjustResize|stateHidden" /> <!-- 有证练车的地图页面 -->
        <provider
            android:name=".utils.BuglyFileProvider"
            android:authorities="${applicationId}.fileProvider"
            android:exported="false"
            android:grantUriPermissions="true"
            tools:replace="name,authorities,exported,grantUriPermissions">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths"
                tools:replace="name,resource" />
        </provider>

        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="b67d5cd9c68fcffee16604ab1f642e12" /> <!-- 定位需要的服务 使用2.0的定位需要加上这个 -->
        <service android:name="com.amap.api.location.APSService" />

        <activity
            android:name="com.tencent.bugly.beta.ui.BetaActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|locale"
            android:theme="@android:style/Theme.Translucent" />
        <activity
            android:name=".mine.activities.ConstantlyAddressActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".daijia.DaiJiaActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".practicecar.activity.PracticeCarContentActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".daijia.activity.LocationSearchActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".wxapi.WXPayEntryActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" /> <!-- 代驾行程 -->
        <!-- 代驾待付款 -->
        <!-- 代驾目的选择城市 -->
        <activity
            android:name=".daijia.activity.CityActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" /> <!-- 代驾 -->
        <!-- 代驾紧急联系人 -->
        <!-- 已接单 -->
        <activity
            android:name=".daijia.activity.JieDanActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".daijia.activity.ChooseDaiJiaoActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" /> <!-- 取消理由原因 -->
        <activity
            android:name=".daijia.activity.LiYouActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" /> <!-- 代驾优惠券列表 -->
        <activity
            android:name=".daijia.activity.YouHuiQuanActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" /> <!-- 费用明细预估费 -->
        <activity
            android:name=".daijia.activity.YuGuFeiActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" /> <!-- 代驾订单结束去评价 -->
        <activity
            android:name=".daijia.activity.EndActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" /> <!-- 代驾预约订单等待界面 -->
        <activity
            android:name=".daijia.activity.WaitYuYueActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" /> <!-- 代驾代叫服务 -->
        <activity
            android:name=".daijia.activity.DaiJiaoActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" /> <!-- 预约代驾备注 -->
        <!-- 代驾进行中订单 -->
        <activity
            android:name=".daijia.activity.JinXingActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" /> <!-- 等待接单 -->
        <activity
            android:name=".daijia.activity.WaitActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" /> <!-- 立即练车 -->
        <activity
            android:name=".practicecar.activity.lianche.NowPracticeActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" /> <!-- 预约练车 -->
        <activity
            android:name=".practicecar.activity.lianche.YuYuePracticeActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" /> <!-- 选教练练车 -->
        <activity
            android:name=".practicecar.activity.lianche.DriverPracticeActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" /> <!-- 选品牌练车 -->
        <activity
            android:name=".practicecar.activity.lianche.PinPaiPracticeActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" /> <!-- 添加紧急联系人 -->
        <activity
            android:name=".practicecar.activity.lianche.JinjiPhoneActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" /> <!-- 车辆估价订单驳回详情 -->
        <activity
            android:name=".practicecar.activity.OrderFaBuOkActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".pay.bean.AppPayChaXun"
            android:screenOrientation="portrait" /> <!-- 答题赢现金问题详情 -->
        <activity
            android:name=".submit.PracticeCarSubmitIndent"
            android:screenOrientation="portrait" />
        <activity
            android:name=".xycindent.fragments.indent_content.PutStudentCardActivity"
            android:screenOrientation="portrait" /> <!-- 培训机构报名页面 -->
        <activity
            android:name=".xycindent.fragments.indent_content.PingJiaDriverSchool"
            android:screenOrientation="portrait" /> <!-- 第一步登录 -->
        <activity android:name=".main.activities.login.LoginFirstStepActivity" /> <!-- 第二部登录 -->
        <activity android:name=".main.activities.login.LoginSecondStepActivity" /> <!-- 进入练车 -->
        <activity android:name=".xycindent.fragments.indent_content.PracticeIndentContent" /> <!-- 二手车订单详情 -->
        <!-- 最新活动 -->
        <activity android:name=".mine.activities.message.NewPlayActivity" /> <!-- 引导页 -->
        <!-- 驾校投票报名页 -->
        <!-- 车生活提交订单 -->
        <!-- 车生活详情 -->
        <!-- 订单 -->
        <activity
            android:name=".xycindent.activities.IndentActivity"
            android:screenOrientation="portrait" /> <!-- 更改头像 -->
        <activity android:name=".mine.activities.bianji.ChangeHeadActivity" /> <!-- 车保险的车型 -->
        <!-- 主页 -->
        <activity
            android:name=".main.activities.main.MainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" /> <!-- 赢现金答题页 -->
        <!-- 银行卡的页面 -->
        <!-- 超级会员 -->
        <!-- 客服中心 -->
        <service android:name=".receive.UpLocationService" />

        <receiver android:name=".receive.AlarmssReceiver" /> <!-- 首页点击进入的活动页 -->
        <!-- 洗车支付2页 -->
        <activity
            android:name=".xycindent.fragments.indent_content.PingJia"
            android:screenOrientation="portrait" />
        <activity
            android:name=".splash.GuangGaoActivity"
            android:screenOrientation="portrait" /> <!-- 我的易币 -->
        <!-- 赢现金活动页 -->
        <meta-data
            android:name="android.webkit.WebView.EnableSafeBrowsing"
            android:value="true" /> <!-- 打开相册 -->
        <activity
            android:name=".xycindent.fragments.indent_content.IndentDetailsOrderPractice"
            android:screenOrientation="portrait" /> <!-- 易币商城 -->
        <activity
            android:name=".xycindent.fragments.indent_content.PingJiaOrderDriver"
            android:screenOrientation="portrait" /> <!-- 车辆风采照片展示 -->
        <!-- 选车型 -->
        <!-- 教练评价页面 -->
        <!-- 新闻列表 -->
        <!-- 新闻详情 -->
        <!-- 新闻点击图片 -->
        <!-- 我的错题A -->
        <!-- 我的奖金 -->
        <!-- 答题界面 -->
        <!-- 赢现金页面 -->
        <!-- 科目一答题页面 -->
        <!-- 科目一答题页面 -->
        <!-- 科目四我的成绩 -->
        <!-- 科目一我的成绩 -->
        <activity
            android:name=".mine.activities.bianji.SettingActivity"
            android:screenOrientation="portrait" /> <!-- 昵称 -->
        <activity
            android:name=".mine.activities.bianji.InformationChangeActivity"
            android:screenOrientation="portrait" /> <!-- 性别 -->
        <!-- 使用帮助 -->
        <!-- 关于学易车 -->
        <activity
            android:name=".mine.activities.AboutXueYiCheActivity"
            android:screenOrientation="portrait" /> <!-- 教练详情页面 -->
        <activity
            android:name=".practicecar.activity.ChoiceCardDetails"
            android:screenOrientation="portrait" /> <!-- 提交订单后的订单详情 -->
        <activity
            android:name=".pay.RechargeActivity"
            android:screenOrientation="portrait" /> <!-- 添加银行卡页面 -->
        <!-- POI检索界面 -->
        <activity
            android:name=".pay.JiFenChongZhi"
            android:screenOrientation="portrait" /> <!-- 驾校详情页面 -->
        <activity
            android:name=".constants.UrlActivity"
            android:screenOrientation="portrait" /> <!-- 公共的url -->
        <activity
            android:name=".base.CommonWebView"
            android:screenOrientation="portrait" />

        <service
            android:name=".receive.LocationService"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name=".pay.AppPay"
            android:screenOrientation="portrait" />
        <activity
            android:name=".practicecar.activity.lianche.SubmitZhiJiePractice"
            android:screenOrientation="portrait" />
        <activity
            android:name=".practicecar.activity.lianche.AllRemarkActivity"
            android:screenOrientation="portrait" /> <!-- 支付成功 -->
        <activity
            android:name=".pay.PaySucceedActivity"
            android:screenOrientation="portrait" /> <!-- 车辆估价 不予评估 -->
        <activity
            android:name=".practicecar.activity.OrderTrainerActivity"
            android:screenOrientation="portrait" /> <!-- 无证的activity -->
        <!-- 优惠券 -->
        <activity
            android:name=".mine.activities.youhuiquan.YouHuiQuan"
            android:screenOrientation="portrait" />
        <activity
            android:name=".xycindent.fragments.indent_content.WZIndentDetailsOrderPractice"
            android:screenOrientation="portrait" /> <!-- 优惠券 -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.zz.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <meta-data
            android:name="design_width"
            android:value="768" />
        <meta-data
            android:name="design_height"
            android:value="1280" /> <!-- 设置成410 才能跟autolayout一样 不知道为什么 -->
        <meta-data
            android:name="design_width_in_dp"
            android:value="360" />
        <meta-data
            android:name="design_height_in_dp"
            android:value="640" /> <!-- 银联支付 -->
        <uses-library
            android:name="org.simalliance.openmobileapi"
            android:required="false" />

        <activity
            android:name=".wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name="com.mob.tools.MobUIShell"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:windowSoftInputMode="stateHidden|adjustResize">
            <intent-filter>
                <data android:scheme="tencent1105958616" />

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <!-- 调用新浪原生SDK，需要注册的回调activity -->
            <intent-filter>
                <action android:name="com.sina.weibo.sdk.action.ACTION_SDK_REQ_ACTIVITY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity> <!-- Required SDK核心功能 -->
        <service
            android:name="cn.jpush.android.service.PushService"
            android:exported="false"
            android:process=":pushcore">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.REGISTER" />
                <action android:name="cn.jpush.android.intent.REPORT" />
                <action android:name="cn.jpush.android.intent.PushService" />
                <action android:name="cn.jpush.android.intent.PUSH_TIME" />
            </intent-filter>
        </service> <!-- since 3.0.9 Required SDK 核心功能 -->
        <provider
            android:name="cn.jpush.android.service.DataProvider"
            android:authorities="com.xueyiche.zjyk.xueyiche.DataProvider"
            android:exported="false"
            android:process=":pushcore" /> <!-- since 1.8.0 option 可选项。用于同一设备中不同应用的JPush服务相互拉起的功能。 -->
        <!-- 若不启用该功能可删除该组件，将不拉起其他应用也不能被其他应用拉起 -->
        <service
            android:name="cn.jpush.android.service.DaemonService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.DaemonService" />

                <category android:name="com.xueyiche.zjyk.xueyiche" />
            </intent-filter>
        </service> <!-- since 3.1.0 Required SDK 核心功能 -->
        <provider
            android:name="cn.jpush.android.service.DownloadProvider"
            android:authorities="com.xueyiche.zjyk.xueyiche.DownloadProvider"
            android:exported="true" /> <!-- Required SDK核心功能 -->
        <receiver
            android:name="cn.jpush.android.service.PushReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter android:priority="1000">
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED_PROXY" /> <!-- Required  显示通知栏 -->
                <category android:name="com.xueyiche.zjyk.xueyiche" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.USER_PRESENT" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
            <!-- Optional -->
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED" />
                <action android:name="android.intent.action.PACKAGE_REMOVED" />

                <data android:scheme="package" />
            </intent-filter>
        </receiver> <!-- Required SDK核心功能 -->
        <receiver
            android:name="cn.jpush.android.service.AlarmReceiver"
            android:exported="false" /> <!-- User defined.  For test only  用户自定义的广播接收器 -->
        <receiver
            android:name=".receive.MyReceive"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.REGISTRATION" /> <!-- Required  用户注册SDK的intent -->
                <action android:name="cn.jpush.android.intent.MESSAGE_RECEIVED" /> <!-- Required  用户接收SDK消息的intent -->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED" /> <!-- Required  用户接收SDK通知栏信息的intent -->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_OPENED" /> <!-- Required  用户打开自定义通知栏的intent -->
                <action android:name="cn.jpush.android.intent.CONNECTION" /> <!-- 接收网络变化 连接/断开 since 1.6.3 -->
                <category android:name="com.xueyiche.zjyk.xueyiche" />
            </intent-filter>
        </receiver> <!-- User defined.  For test only  用户自定义接收消息器,3.0.7开始支持,目前新tag/alias接口设置结果会在该广播接收器对应的方法中回调 -->
        <!-- since 3.3.0 接收JPush相关事件 -->
        <receiver android:name=".receive.PushMessageReceiver">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.RECEIVE_MESSAGE" />

                <category android:name="com.xueyiche.zjyk.xueyiche" />
            </intent-filter>
        </receiver> <!-- since 3.3.0 Required SDK核心功能 -->
        <!-- 可配置android:process参数将PushService放在其他进程中 -->
        <!-- User defined.  For test only 继承自cn.jpush.android.service.JCommonService -->
        <service
            android:name=".receive.PushService"
            android:process=":pushcore">
            <intent-filter>
                <action android:name="cn.jiguang.user.service.action" />
            </intent-filter>
        </service> <!-- Required  . Enable it you can get statistics data with channel -->
        <!-- <meta-data android:name="JPUSH_CHANNEL" android:value="${JPUSH_CHANNEL}"/> -->
        <!-- Required  . Enable it you can get statistics data with channel -->
        <!-- 高德地图定位 -->
        <!--        <meta-data-->
        <!--            android:name="UMENG_APPKEY"-->
        <!--            android:value="589c161f45297d50eb000751" />-->
        <!--        <meta-data-->
        <!--            android:name="Channel ID"-->
        <!--            android:value="xueyiche" />-->

        <provider
            android:name="com.qq.e.comm.GDTFileProvider"
            android:authorities="${applicationId}.gdt.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/gdt_file_path" />
        </provider>

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" /> <!-- 声明SDK所需要的组件 -->
        <service
            android:name="com.qq.e.comm.DownloadService"
            android:exported="false" />
    </application>

</manifest>