<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.xueyiche.zjyk.jiakao">
    <!--    用于声明应用程序需要的权限-->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_INTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_INTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" /> <!-- 获取手机录音机使用权限，听写、识别、语义理解需要用到此权限 -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" /> <!-- 读取网络信息状态 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /> <!-- 获取当前wifi状态 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" /> <!-- 允许程序改变网络连接状态 -->
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="andorid.permission.MONUN_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" /> <!-- 保存或读出图片还应该添加读写权限 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CALL_PHONE" /> <!-- Required  一些系统要求的权限，如访问网络等 -->
    <uses-permission android:name="com.xueyiche.zjyk.xueyiche.permission.JPUSH_MESSAGE" />
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />
    <uses-permission android:name="android.permission.WAKE_LOCK" /> <!-- Optional for location -->
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" /> <!-- 定位 -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" /> <!-- 定位 -->
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" /> <!-- Android Q后台定位权限 -->
    <uses-permission android:name="android.permission.MOUNT_FORMAT_FILFOREGROUND_SERVICEESYSTEMS" /> <!-- 这个权限用于获取wifi的获取权限，wifi信息会用来进行网络定位 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" /> <!-- 写入扩展存储，向扩展卡写入数据，用于写入缓存定位数据 -->
    <uses-permission android:name="android.permission.READ_CONTACTS" /> <!-- 定位 -->
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" /> <!-- 用于访问wifi网络信息，wifi信息会用于进行网络定位 -->
    <uses-permission
        android:name="android.permission.MOUNT_FORMAT_FILESYSTEMS"
        tools:ignore="ProtectedPermissions" /> <!-- 这个权限用于获取wifi的获取权限，wifi信息会用来进行网络定位 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" /> <!-- 写入扩展存储，向扩展卡写入数据，用于写入缓存定位数据 -->
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission
        android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission
        android:name="android.permission.WRITE_SETTINGS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" /> <!-- 用于开启 debug 版本的应用在6.0 系统上 层叠窗口权限 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.GET_TASKS" /> <!-- 一般权限 -->
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <permission
        android:name="com.xueyiche.zjyk.jiakao.permission.JPUSH_MESSAGE"
        android:protectionLevel="signature" />
    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true" /> <!-- 百度地图poi -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.BROADCAST_STICKY" /> <!-- 蓝牙分享所需的权限 -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" /> <!-- 银联支付 -->
    <uses-permission android:name="android.permission.NFC" /> <!-- 生成唯一标示 -->
    <uses-feature android:name="android.hardware.nfc.hce" />

    <uses-permission android:name="org.simalliance.openmobileapi.SMARTCARD" />

    <application
        android:name="com.xueyiche.zjyk.jiakao.constants.App"
        android:allowBackup="false"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/logo_user"
        android:label="@string/app_name"
        android:maxAspectRatio="2.4"
        android:persistent="true"
        android:resizeableActivity="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:ignore="LockedOrientationActivity"
        tools:replace="android:allowBackup">
        <activity
            android:name="com.xueyiche.zjyk.jiakao.mine.activities.bianji.SetActivity"
            android:configChanges="screenSize|smallestScreenSize|screenLayout"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.xueyiche.zjyk.jiakao.mine.activities.bianji.EditMySelfInfoActivity"
            android:configChanges="screenSize|smallestScreenSize|screenLayout"
            android:exported="false"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="android.max_aspect"
            android:value="2.4" /> <!-- 适配华为（huawei）刘海屏 -->
        <meta-data
            android:name="android.notch_support"
            android:value="true" /> <!-- 适配小米（xiaomi）刘海屏 -->
        <meta-data
            android:name="notch.config"
            android:value="portrait|landscape" /> <!-- 全新需要的Activity -->
        <activity
            android:name="com.xueyiche.zjyk.jiakao.splash.SplashActivity"
            android:configChanges="screenSize|smallestScreenSize|screenLayout"
            android:screenOrientation="portrait"
            android:theme="@style/WelcomeTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

             <intent-filter>
             <action android:name="android.intent.action.VIEW" />
             <category android:name="android.intent.category.DEFAULT" />
             <data android:scheme="wx2c016c0ed633dbd2" />
             </intent-filter>


             <intent-filter>
             <action android:name="android.intent.action.VIEW" />
             <category android:name="android.intent.category.DEFAULT" />
             <data android:scheme="wx2c016c0ed633dbd2" />
             </intent-filter>

        </activity>

        <receiver android:name="com.xueyiche.zjyk.jiakao.receive.NetBroadcastReceiver">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>


        <activity
            android:name="com.tencent.bugly.beta.ui.BetaActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|locale"
            android:theme="@android:style/Theme.Translucent" />

        <activity
            android:name="com.xueyiche.zjyk.jiakao.main.activities.login.LoginFirstStepActivity"
            android:configChanges="screenSize|smallestScreenSize|screenLayout"
            android:exported="false"
            android:screenOrientation="portrait" /> <!-- 第二部登录 -->
        <activity
            android:name="com.xueyiche.zjyk.jiakao.main.activities.login.LoginSecondStepActivity"
            android:configChanges="screenSize|smallestScreenSize|screenLayout"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.xueyiche.zjyk.jiakao.mine.activities.bianji.ChangeHeadActivity"
            android:configChanges="screenSize|smallestScreenSize|screenLayout"
            android:exported="false"
            android:screenOrientation="portrait" /> <!-- 车保险的车型 -->
        <!-- 主页 -->
        <activity
            android:name="com.xueyiche.zjyk.jiakao.main.activities.main.MainActivity"
            android:configChanges="screenSize|smallestScreenSize|screenLayout"
            android:exported="false"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" /> <!-- 赢现金答题页 -->

        <activity
            android:name="com.xueyiche.zjyk.jiakao.mine.activities.bianji.InformationChangeActivity"
            android:configChanges="screenSize|smallestScreenSize|screenLayout"
            android:exported="false"
            android:screenOrientation="portrait" /> <!-- 性别 -->

<!--模拟考试页面-->
        <activity
            android:name="com.xueyiche.zjyk.jiakao.examtext.kemuad.PracticeTestActivity"
            android:configChanges="screenSize|smallestScreenSize|screenLayout"
            android:exported="false"
            android:screenOrientation="portrait" />

<!--        模拟考试页面-->
        <activity
            android:name="com.xueyiche.zjyk.jiakao.examtext.kemud.PracticeTestFour"
            android:configChanges="screenSize|smallestScreenSize|screenLayout"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.xueyiche.zjyk.jiakao.examtext.kemuad.PracticeNormalActivity"
            android:configChanges="screenSize|smallestScreenSize|screenLayout"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.xueyiche.zjyk.jiakao.examtext.kemuad.AchievementActivity"
            android:configChanges="screenSize|smallestScreenSize|screenLayout"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.xueyiche.zjyk.jiakao.examtext.kemuad.CollectionActivity"
            android:configChanges="screenSize|smallestScreenSize|screenLayout"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.xueyiche.zjyk.jiakao.examtext.kemuad.PracticeWrongActivity"
            android:configChanges="screenSize|smallestScreenSize|screenLayout"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.xueyiche.zjyk.jiakao.examtext.kemuad.PracticeSpecialActivity"
            android:configChanges="screenSize|smallestScreenSize|screenLayout"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.xueyiche.zjyk.jiakao.examtext.kemuad.PracticeSpecialContentActivity"
            android:configChanges="screenSize|smallestScreenSize|screenLayout"
            android:exported="false"
            android:screenOrientation="portrait" />


        <activity
            android:name="com.xueyiche.zjyk.jiakao.examtext.MyResult"
            android:configChanges="screenSize|smallestScreenSize|screenLayout"
            android:exported="false"
            android:screenOrientation="portrait" />


        <activity
            android:name="com.xueyiche.zjyk.jiakao.examtext.MoNiTestPage"
            android:configChanges="screenSize|smallestScreenSize|screenLayout"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.xueyiche.zjyk.jiakao.examtext.kemub.SubjectbWeb"
            android:configChanges="screenSize|smallestScreenSize|screenLayout"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.xueyiche.zjyk.jiakao.examtext.kemuc.KeMuSanVideo"
            android:configChanges="screenSize|smallestScreenSize|screenLayout"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.xueyiche.zjyk.jiakao.examtext.kemud.AchievementFourActivity"
            android:configChanges="screenSize|smallestScreenSize|screenLayout"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.xueyiche.zjyk.jiakao.examtext.kemud.CollectionD"
            android:configChanges="screenSize|smallestScreenSize|screenLayout"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.xueyiche.zjyk.jiakao.examtext.kemud.CuoTiD"
            android:configChanges="screenSize|smallestScreenSize|screenLayout"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.xueyiche.zjyk.jiakao.examtext.kemud.SubjectDQuestion"
            android:configChanges="screenSize|smallestScreenSize|screenLayout"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.xueyiche.zjyk.jiakao.examtext.kemud.ZhuangXiangDContent"
            android:configChanges="screenSize|smallestScreenSize|screenLayout"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.xueyiche.zjyk.jiakao.examtext.kemud.ZhuanXiangD"
            android:configChanges="screenSize|smallestScreenSize|screenLayout"
            android:exported="false"
            android:screenOrientation="portrait" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.haha.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <meta-data
            android:name="design_width"
            android:value="768" />
        <meta-data
            android:name="design_height"
            android:value="1280" /> <!-- 设置成410 才能跟autolayout一样 不知道为什么 -->
        <meta-data
            android:name="design_width_in_dp"
            android:value="360" />
        <meta-data
            android:name="design_height_in_dp"
            android:value="640" /> <!-- 银联支付 -->
        <uses-library
            android:name="org.simalliance.openmobileapi"
            android:required="false" />

        <activity
            android:name="com.mob.tools.MobUIShell"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:windowSoftInputMode="stateHidden|adjustResize">
            <intent-filter>
                <data android:scheme="tencent1105958616" />

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <!-- 调用新浪原生SDK，需要注册的回调activity -->
            <intent-filter>
                <action android:name="com.sina.weibo.sdk.action.ACTION_SDK_REQ_ACTIVITY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!-- Required SDK核心功能 -->

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />
        <!-- 声明SDK所需要的组件 -->

    </application>

</manifest>